/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace gui "todoapp.gui.*";
@namespace component "todoapp.component.*";

gui|TaskListComponent{
	skinClass:ClassReference("todoapp.gui.skin.TaskListComponentSkin");
}

s|Button#addButton{
	skinClass:ClassReference("todoapp.gui.skin.AddButtonSkin");
}

s|Button#deleteButton{
	skinClass:ClassReference("todoapp.gui.skin.DeleteButtonSkin");
}

gui|TaskCanbanView{
	skinClass:ClassReference("todoapp.gui.skin.TaskCanbanViewSkin");
}

gui|TaskGridView{
	skinClass:ClassReference("todoapp.gui.skin.TaskGridViewSkin");
}

component|DialogBase{
	skinClass:ClassReference("todoapp.component.DialogBaseSkin");

component|StatusDialog{
	skinClass:ClassReference("todoapp.component.StatusDialogSkin");
}